/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.data-form{
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}