{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/floating-labels.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ResponsiveTable.css') }}">
{% endblock %}

{% block body %}
    <div class="title mt-3">
        <h3 class="allpatients" style="display:inline-flex;">All Patients</h3>
        <h3 style="display:inline-flex; float: right;">
            <form class="form-inline active-cyan-3 active-cyan-4">
                <i class="fa fa-search text-primary" style="font-size: large;" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" id="searchField" onkeyup="searchFunction()" title="Type in SSN ID" placeholder="Search by SSN ID" aria-label="Search">
            </form>
        </h3>
        <hr>
    </div>

    <table class="mt-2" id="patientTable">
        <thead>
            <tr>
                <th scope="col">Patient SSN ID</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Patient Age</th>
                <th scope="col">Date of Admission</th>
                <th scope="col">Type of Bed</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in all_patients %}
                <tr>
                    <td data-label="Patient SSN ID">{{ patient.ssnID }}</td>
                    <td data-label="Patient Name">{{ patient.name }}</td>
                    <td data-label="Patient Age">{{ patient.age }}</td>
                    <td data-label="Date of Admission">{{ patient.doj }}</td>
                    <td data-label="Type of Bed">{{ patient.type_of_bed }}</td>
                    <td data-label="Address">{{ patient.address }}, {{ patient.city }}, {{ patient.state }}</td>
                    <td data-label="Status">
                        {% if patient.status == 'Active' %}
                            <span class="text-success">{{ patient.status }}</span>
                        {% else %}
                            <span class="text-danger">{{ patient.status }}</span>
                        {% endif %}
                    </td>
                    <td data-label="Update"><a href="#" data-toggle="modal" data-target="#update{{ patient.id }}" class="btn btn-sm btn-primary text-white"><i class="fa fa-arrow-circle-up"></i></a></td>
                    <td data-label="Delete"><a href="#" data-toggle="modal" data-target="#delete{{ patient.id }}" class="btn btn-sm btn-danger text-white"><i class="fa fa-trash-o"></i></a></td>
                </tr>

                <!--Edit Modal -->
                <div class="modal fade" id="update{{ patient.id }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">Edit Patient</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/editPatient/{{ patient.id }}" method="POST">
                                <div class="modalGroup">
                                    <div class="form-group">
                                        <label for="inputssnID">Patient SSN ID*</label>
                                        <input type="text" name="ssnID" id="inputssnID" class="form-control" value="{{ patient.ssnID }}" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputssnID">Patient Name*</label>
                                        <input type="text" name="name" id="inputName" class="form-control" value="{{ patient.name }}" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAge">Patient Age*</label>
                                        <input type="number" name="age" id="inputAge" class="form-control" value="{{ patient.age }}" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDoj">Date of Admission*</label>
                                        <input type="date" name="doj" id="inputDoj" class="form-control" value="{{ patient.doj }}" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputBed">Type of Bed*</label>
                                        <select class="form-control" name="type_of_bed" id="inputBed" required autofocus>
                                            {% if patient.type_of_bed == 'General' %}
                                                <option value="{{ patient.type_of_bed }}">General Ward</option>
                                                <option value="Semi">Semi sharing</option>
                                                <option value="Single">Single Room</option>
                                            {% elif patient.type_of_bed == 'Semi' %}
                                                <option value="{{ patient.type_of_bed }}">Semi Sharing</option>
                                                <option value="General">General Ward</option>
                                                <option value="Single">Single Room</option>
                                            {% else %}
                                                <option value="{{ patient.type_of_bed }}">Single Room</option>
                                                <option value="General">General Ward</option>
                                                <option value="Semi">Semi sharing</option>
                                            {% endif %}                                
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress">Address*</label>
                                        <textarea class="form-control" name="address" id="inputAddress" rows="2">{{ patient.address }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="stateId">State*</label>
                                        <input class="form-control" type="hidden" name="country" id="countryId" value="IN" />
                                        <select name="state" class="states order-alpha form-control" aria-describedby="stateHint" id="stateId">
                                            <option value="{{ patient.state }}">Select State</option>
                                        </select>
                                        <small id="stateHint" class="form-text text-muted">**Do not select state if you don't wish to update</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="cityId">City*</label>
                                        <select name="city" class="cities order-alpha form-control" id="cityId">
                                            <option value="{{ patient.city }}">Select City</option>
                                        </select>
                                        <small id="stateHint" class="form-text text-muted">**Do not select city if you don't wish to update</small>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal Delete-->
                <div class="modal fade" id="delete{{ patient.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Patient</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this patient?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <a href="/deletePatient/{{ patient.id }}" type="button" class="btn btn-primary">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function searchFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchField");
            filter = input.value.toUpperCase();
            table = document.getElementById("patientTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}